/*CSS code for nav from w3schools*/
.topnav {
  background-color: rgb(48, 48, 48);
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1;
}

.topnav ul {
  list-style: none;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.GenreBox{
  padding: 10px 10px;
  border: 5px solid black;
  border-radius: 15px;
  background-color: whitesmoke;
}

